.add-split-form-container {
    color: white;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 100;
    width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 10px;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
}

.add-split-form-header {
    margin: 0px 0px 15px 10px;

}

.add-split-form-day {
    background-color: #262626;
    width: 260px;
    height: 380px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
}

.add-split-name-label {
    margin-top: 12px;
    margin-right: 16px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
}

.add-split-form-name {
    margin-top: 12px;
    margin-bottom: 15px;
    width: 384px;
    height: 35px;
    border-radius: 6px;
    padding: 5px;
    border: none;
}

.hide-option {
    display: none;
}

.add-split-error-container {
    margin-left: 12px;
    color: red;
    margin-bottom: 10px;
}

.add-split-form-date-section {
    position: relative;
}

.react-calendar {
    width: 257px !important;
    position: absolute;
    top: 0;
    margin-top: 45px;
    margin-left: 273px;
}

#add-split-form-calendar-toggle {
    padding: 10px 20px;
    background-color: #8b0000;
    border: none;
    color: white;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

#add-split-form-calendar-toggle:hover {
    background-color: #b40303;
}

.add-split-form-selected-day {
    display: inline;
    position: relative;
    bottom: 1px;
    font-size: 25px;
}
