.splash-main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.greeting {
    font-size: 56px;
    line-height: 150%;
}

.greeting-subtitle {
    font-size: 24px;
    font-weight: normal;
    width: 75%;
    display: flex;
    text-align: center;
    margin: 0px
}

.splash-main-sign-up {
    border-radius: 3px;
    border: 2px solid #880000;
    background-color: #880000;
    padding: 16px 80px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 30px;
}

.splash-main-login {
    text-decoration: underline;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1.25px;
    color: black;
}
