.splash-main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.greeting {
    font-size:  clamp(24px, 3.73vw, 60px);
    line-height: 150%;
    text-align: center;
    width: 90%;
    z-index: 1;
}

.greeting-subtitle {
    font-size: clamp(12px, 1.6vw, 24px);
    font-weight: normal;
    width: 75%;
    display: flex;
    text-align: center;
    margin: 0px
}

.splash-main-sign-up {
    border-radius: 3px;
    border: 2px solid #880000;
    background-color: #880000;
    padding: 16px 80px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 30px;
    transition: .3s;
}

.splash-main-sign-up:hover {
    background-color: #b40303;
    border: 2px solid #b40303;
}

.splash-main-login {
    text-decoration: underline;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1.25px;
    color: black;
    transition: .3s;
}

.splash-main-login:hover {
    color: #b40303;
}
