.nav-bar {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 60px;
}

.logo {
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: rgba(59, 50, 50, 1);
    text-decoration: none;
}

.logo-home-link {
    text-decoration: none;
    display: flex;
}

.logo-text {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 2px solid rgba(49, 47, 47, 1);
    padding-left: 15px;
}

.logo-img {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 8px;
}

.nav-link {
    margin: 0px 10px;
    font-family: 'Raleway';
    font-weight: bold;
}

#nav-logout {
    background-color: transparent;
    border: 2px solid #8b0000;
    border-radius: 3px;
    padding: 10px 25px;
    transition: 0.1s;
    font-family: 'Raleway';
    color: #8b0000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#nav-logout:hover {
    color: white;
    background-color: #8b0000;
}

#nav-login {
    text-decoration: none;
    color: #8b0000;
    padding: 10px 20px;
    transition: .2s;
}

#nav-login:hover {
    color: #4b0101;
}

#nav-sign-up {
    background-color: transparent;
    border: 2px solid #8b0000;
    border-radius: 3px;
    padding: 10px 25px;
    transition: 0.1s;
    font-family: 'Raleway';
    color: #8b0000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#nav-sign-up:hover {
    color: white;
    background-color: #8b0000;
}
