.sidebar-new-dropdown-content {
    color: white;
    position: absolute;
    margin-top: 63px;
    width: 216px;
    background-color: #333333;
    border-radius: 8px;
    z-index: 3;
}

.sidebar-new-dropdown-add-day {
    background-color: #8b0000;
    color: white;
}

.sidebar-new-dropdown-add-day:hover {
    background-color: #9b0303;
}

.sidebar-new-dropdown-add-split {
    background-color: #b95ccc;
    padding-left: 100px;
}

.sidebar-new-dropdown-add-split:hover {
    background-color: #894597;
}

.sidebar-new-dropdown-add-exercise {
    background-color: #555454;
    padding-left: 100px;
}

.sidebar-new-dropdown-add-exercise:hover {
    background-color: #696767;
}

.new-dropdown-exercise-icon {
    margin: 0 6px 0 7px !important;
}

.new-dropdown-element {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    height: 30px;
    padding: 20px 5px;
    font-size: 13px;
}

.new-dropdown-element-icon {
    margin: 0 8px;
}

.new-dropdown-split-icon {
    margin: 0 8px;
}
