.main-content-container {
    margin-top: 75px;
}

.split-dashboard-main-container {
    color: white;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 100;
    width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 10px;
    height: 500px;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
}

.split-dashboard-day {
    background-color: #262626;
    width: 148px;
    height: 100%;
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
}
