.split-dashboard-container {
    display: flex;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000001;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}
