.split-dashboard-container {
    display: flex;
    height: 100vh;
    /* position: relative; */
}

.split-dashboard-right {
    /* margin-left: 240px; */
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    position: relative;
}

.confirmation-message {
    margin: 135px 0 0 800px;
    position: absolute;
    font-weight: 900;
    color: green;
    background-color: rgb(90, 206, 90);
    padding: 10px 5px;
    border-radius: 8px;
    z-index: 102;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000001;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}
