.edit-split-form-container {
    color: white;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 100;
    width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 10px;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
}

.single-split-edit-form-day {
    background-color: #262626;
    width: 148px;
    height: 380px;
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
}

.edit-split-submit-button {
    margin: 20px 0 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #b95ccc;
    color: white;
    background-color: #b95ccc;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.edit-split-submit-button:hover {
    background: #894597;
    border: 2px solid #894597;
}

.edit-split-date-label {
    margin-top: 12px;
    margin-right: 12px;
    font-size: 28px;
}

.edit-split-form-delete-split {
    height: 36px;
    margin: 12px 10px 20px 20px;
    padding: 0px 15px;
    border-radius: 20px;
    border: 2px solid #b95ccc;
    color: white;
    background-color: #b95ccc;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-split-form-delete-split:hover {
    background: #894597;
    border: 2px solid #894597;
}

.single-split-edit-date-range {
    font-size: 20px;
    display: inline;
    align-items: center;
    background-color: #262626;
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 1.5px;
    width: max-content;
    margin-left: 15px;
    position: relative;
    bottom: 4px;
}

.edit-split-form-calendar {
    top: 80px !important;
    left: 190px !important;
}

/* .edit-split-form-calendar-toggle {
    display: block;
} */

.edit-split-form-header {
    margin: 0px 0px 15px 10px;
    font-size: 40px;
    display: inline;
}

.edit-split-date-label {
    margin-top: 12px;
    margin-right: 16px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
