.sidebar-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #333333;
    position: absolute;
    margin-top: 45px;
    width: 216px;
    height: 100px;
    border-radius: 2px;
    z-index: 2;
}

#sidebar-dropdown-logout {
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
}

#sidebar-dropdown-logout:hover {
    background-color: #4d4d4d;
}

.sidebar-dropdown-element {
    height: 40px;
}
