.my-exercises-container {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    padding: 8px;
    background-color: #555454;
    border-radius: 3px;
    height: 392px;
    width: 600px;
    z-index: 999;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    overflow-y: scroll;
}

.my-exercises-inner-container {
    border: 1px solid #8b0000;
    border-radius: 3px;
    padding: 10px;
}

.my-exercises-info-container {
    position: relative;
}

.my-exercises-header {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.cancel-my-exercises {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: rgb(196, 195, 195);
}

.cancel-my-exercises:hover {
    color: red;
}

.my-exercises-single-exercise {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.single-exercise-name {
    margin-left: 10px;
}

.single-exercise-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 40px;
    margin-right: 10px;
    color: rgb(196, 195, 195);
}

.single-exercise-button {
    cursor: pointer;
}

.single-exercise-button:hover {
    color: white;
}
