.no-split-container {
    width: 1200px;
    height: 500px;
    color: white;
    background-color: #1a1a1a;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-split-warning {
    font-size: 30px;
    font-weight: bold;
}

.create-link {
    color: #b40303;
}

.create-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.single-split-date-range-home {
    font-size: 40px;
    display: flex;
    align-items: center;
    background-color: #262626;
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 1.5px;
    margin-left: 15px;
}
