.split-dashboard-hero-container {
    height: 460px;
    display: flex;
    width: 100%;
}

.split-dashboard-hero-image {
    margin-top: -185px;
    height: 460px;
    width: 50%;
    /* animation-name: blurIn;
    animation-timing-function: ease-in;
    animation-duration: .3s; */
    filter: blur(2px)
}

@keyframes blurIn {
    0% {
        filter: blur(8px)
    }

    100% {
        filter: blur(2px)
    }

}
